@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>MotaAdmin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="text-success">
    <div class="container-fluid mx-auto">
        <div class="row">
            <div class="col text-center">
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="authincation h-100">
                    <div class="container h-100">
                        <div class="row justify-content-center h-100 align-items-center">
                            <div class="col-md-5">
                                <div class="form-input-content text-center error-page">
                                    <h1 class="error-text text-center font-weight-bold"><span class="text-success">BugTag</span><img class="img-fluid mt-4" src="~/images/ManMagnifyGlass.png" width="269" height="568" /></h1>
                                    <h4><span class="text-success">An Issue Tracking Application</span><i class="ml-3 fa fa-thumbs-up text-success"></i></h4>
                                    <p>Please Click below to Login/Register</p>
                                    <div>
                                        <a class="btn btn-outline-warning btn-lg" asp-area="Identity" asp-page="/Account/Login">Log In/Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row-flex">
                                <div class="col">
                                    <h1>BugTag is an Issue Tracking Application for the Developement of Software/Applications.</h1>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3>Grab control in just 5 easy steps:</h3>
                            <h1>Step 1:</h1> <h4 class="offset-2">Register Company</h4>
                            <h1>Step 2:</h1><h4 class="offset-2">Create Projects</h4>
                            <h1>Step 3:</h1><h4 class="offset-2">Create Tickets</h4>
                            <h1>Step 4:</h1><h4 class="offset-2">Invite/Assign/Manage Members</h4>
                            <h1>Step 5:</h1><h4 class="offset-2">Get Updates on Ticket and User Activity</h4>

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="~/vendor/global/global.min.js"></script>
<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/deznav-init.js"></script>

</html>